*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 99vw;
}

.main-nav{
    display: flex;
    justify-content: center;
    border: 3px solid;
    width: 90vw;
}

.main-nav ul{
    display: flex;
    width: 90vw;
    list-style: none;
    justify-content: space-around;
    
}

.image-container{
    display: flex;
    width: 10vw;
    height: 12vh;
    border: 3px solid;
}



#resultado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  text-transform: capitalize;
  min-width: 98vw;
}
.card img {
  margin-left: 3vw;
  width: 150px;
  height: 150px;
}

.card-content{
  display: flex;
  flex-direction: column;
}

.error {
  color: crimson;
  font-weight: bold;
}



/* color para cada tarjeta */
.grass {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(104, 255, 147), rgb(200, 255, 216));
  border: 1px solid #ddd;
  border-radius: 20px;

}

.fire {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(255, 104, 104), rgb(255, 200, 200));
  border: 1px solid #ddd;
  border-radius: 20px;
}

.water {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(104, 142, 255), rgb(182, 200, 255));
  border: 1px solid #ddd;
  border-radius: 20px;
}
.normal {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(185, 185, 185), rgb(234, 234, 234));
  border: 1px solid #ddd;
  border-radius: 20px;
}